main#menu
    background: linear-gradient(#ffffff, #efefef)
    width: 100%
    height: 100%
    padding: 12px 14px

    section#header
        display: flex
        justify-content: space-between

        .clock
            text-align: right
            h2
                font-size: 20px
                margin: 0
            p
                margin: 0
                font-size: 10px
    
    section#widgets
        margin: 12px 0
        display: flex
        justify-content: space-between
        align-items: center

        .widget-box
            overflow: hidden
            width: 136px
            position: relative

            #widget-strip
                width: 408px
                position: relative
                transition: all .3s ease-in-out

                .widget
                    display: inline-block
                    width: 132px
                    text-align: center

                    h1
                        margin: 0
                        font-size: 36px
                    h3
                        margin: 0
                        font-size: 20px
                    p
                        margin: 0
                        font-size: 12px
    
    section#actions
        display: flex
        justify-content: space-between
        padding: 0 5px