main
    transition: all .3s ease-in-out
    
main.blurred
    filter: blur(10px)
    transform: scale(1.2)

.notification-bounce
    animation: notification-bounce 1.6s ease-in-out infinite both

section#notifications
    transition: all .3s ease-in-out
    background: rgba(214, 219, 226, 0.6)
    position: absolute
    top: 100%
    left: 0
    right: 0
    bottom: 0
    z-index: 2
    padding: 16px
    opacity: 0

    #notifications-empty
        font-size: 12px
        margin: 5px 0
        padding: 0

    h2
        margin: 1px 0 5px
        padding: 0
        font-size: 14px

    .notification
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px
        background: rgba(255, 255, 255, 0.3)
        border-radius: 5px
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15)
        cursor: grab

        .main-info
            display: flex
            text-align: left
            align-items: center
            i
                font-size: 20px
                color: #271f30
            .sub-info
                margin-left: 10px
                h3
                    font-size: 14px
                    margin: 0
                    padding: 0
                    margin-bottom: 2px
                p
                    font-size: 10px
                    margin: 0
                    padding: 0
                    color: #7d728a
        
        .icons
            text-align: right
            font-size: 10px
        