main#sos
    background: linear-gradient(#39445b, #283245)
    width: 100%
    height: 100%
    padding: 12px 14px

    section#header
        display: flex
        justify-content: space-between

        .btn
            text-align: center
            color: white

        .clock
            text-align: right
            h2
                font-size: 20px
                margin: 0
                color: white
            p
                margin: 0
                color: white
                font-size: 10px
    
    section#text
        margin: 12px 0
        text-align: center

        h1
            color: #dc493a
            margin: 0
            font-size: 36px
        h3
            color: white
            margin: 0
            font-size: 14px
            font-weight: 400

    section#icon
        color: #dc493a
        font-size: 50px
        text-shadow: 2px 2px white
        margin: 25px auto
        width: 102px
        span
            text-shadow: 2px 2px #dc493a
            color: white