main#travel
    //background: linear-gradient(#83d689, #49ce72)
    background: linear-gradient(#6bd882, #52c15b)
    width: 100%
    height: 100%
    padding: 12px 12px

    .all-action
        font-size: 12px
        background: #4894e2
        box-shadow: 0 0 0 3px rgba(72, 148, 226, 0.3)
        color: white
        padding: 4px 8px
        margin-bottom: 8px
        text-align: center
        width: 100%

    & > h1
        color: white
        font-size: 14px
        margin: 15px 0
        text-align: center
        line-height: 22px
        font-weight: normal
        i
            font-size: 22px
            margin-right: 3px
        #travel-date
            font-weight: bold
            color: white
    
    hr
        margin: 15px 0
        background: rgba(255, 255, 255, 0.3)
        border: none
        height: 1px

    section#controls
        display: flex
        justify-content: space-between
        align-items: center
        margin: 5px 0
        &.right
            justify-content: flex-end
        h3
            cursor: pointer
            transition: all .3s ease-in-out
            &:hover
                color: white
        h3, p, span
            color: rgba(255, 255, 255, 0.65)
            margin: 0
            padding: 0
            font-size: 12px
            font-weight: bold
            i
                cursor: pointer
                &#left-btn
                    transition: all .3s ease-in-out
                    margin-right: 5px
                    &:hover
                        color: white
                &#right-btn
                    transition: all .3s ease-in-out
                    margin-left: 5px
                    &:hover
                        color: white

    .buttons
        width: 100%
        display: flex
        justify-content: space-between
        .all-action
            width: 45%
            &.danger
                background: #e86948
                box-shadow: 0 0 0 3px rgba(232, 105, 72, 0.3)

    section#time
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0 10px
        margin: 5px 0
        color: white
        i
            font-size: 34px
        .right
            p
                color: white
                font-size: 15px
                margin: 0
                padding: 0
                span
                    color: white
                    font-weight: bold

    section#widgets
        margin: 20px 0
        .widget
            display: flex !important
            justify-content: space-around
            align-items: center
            h1
                margin: 0 !important

    .toggle-btn
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, 50%)
        button
            color: white
            opacity: 0.8
            &:hover
                opacity: 1
        &.derotate
            button
                animation: derotate .3s ease-in-out
        &.rotate
            button
                animation: rotate .3s ease-in-out
    
    section#actions
        padding: 12px 10px
        position: relative
        & > div
            transition: all .3s ease-in-out

        .hidden
            opacity: 0
            pointer-events: none
            transform: translateY(-5px) scale(0.8)
        #action-2
            position: absolute
            left: 10px
            right: 10px
            top: 12px
            bottom: 12px
        .row
            display: flex
            justify-content: center
            position: relative
            &.wide
                top: -7px
                justify-content: space-between
            &:last-child
                top: -14px
            
            .btn-group
                position: relative
                margin: 0
                &.paused
                    right: -4px
                .btn-circle
                    height: 36px
                    width: 36px
                    font-size: 16px
                    line-height: 36px
                p
                    margin-bottom: 0
                    color: white

    section#travel-map
        #travel-map-img
            text-align: center
            position: relative
            width: 176px
            height: 176px
            width: 100%
            height: 100%
            border-radius: 3px
            box-shadow: 0 3px 5px 2px rgba(0, 0, 0, .15)

    

    section.friends-list
        .list-group
            list-style: none
            padding: 0
            margin: 0
            height: 180px
            display: flex
            flex-direction: column
            flex-wrap: wrap
            align-items: center
            left: -20px
            position: relative
            transition: all .3s ease-in-out
            .list-item
                text-decoration: none
                flex: 1 0 33%
                width: 100%
                margin: 3px 20px
                background: white
                max-height: 33px
                padding: 3px
                box-shadow: 0px 6px 2px -3px rgba(0, 0, 0, 0.15)
                border-radius: 2px
                &:nth-child(5n), &:first-child
                    margin-top: 0
                &:nth-child(4n)
                    margin-bottom: 0
                .row
                    display: flex
                    justify-content: space-between
                    align-items: center
                    .left
                        display: flex
                        justify-content: space-between
                        align-items: center
                        img
                            height: 22px
                            width: 22px
                            border-radius: 50px
                        h1
                            margin-left: 5px
                            font-size: 12px
                            font-weight: normal
                            max-width: 107px


                    button, a
                        font-size: 11px
                        line-height: 20px
                        height: 20px
                        width: 20px
                        color: white
                        margin-right: 3px
                        text-align: center
                        padding: 0
                        i
                            margin: 0
                            padding: 0
                        &.danger
                            background: #e86948
                            box-shadow: 0 0 0 3px rgba(232, 105, 72, 0.3)
                        &.info
                            background: #48a6e8
                            box-shadow: 0 0 0 3px rgba(72, 166, 232, 0.3)
                        &.success
                            background: #4aad7f
                            box-shadow: 0 0 0 3px rgba(74, 173, 127, 0.3)
            

                &.timestamp
                    max-height: 45px
                    padding: 3px 7px
                    margin: 4px 20px
                    &:nth-child(3n+1), &:first-child
                        margin-top: 3px
                    &:nth-child(3n)
                        margin-bottom: 3px
                    .row
                        display: flex
                        height: 100%
                        .left
                            display: block
                            h1, p
                                max-width: 100%
                                display: block
                                margin: 5px 0
                                font-size: 12px
                                font-weight: normal
                            h1
                                font-weight: bold

    section#mark
        label
            color: white
            margin: 0px 1px 5px
            display: block
            font-family: 'Roboto'
            font-size: 14px
            font-weight: bold
        p
            margin: 7px 1px 0
            font-size: 13px
            color: rgba(255, 255, 255, 0.85)
            text-align: right
            span, b
                color: white
                font-weight: bold
        .form
            position: relative
            &.error
                .form-error
                    top: -4px
                    left: -4px
                    right: -4px
                    bottom: -4px
                form input
                    color: #d66f67
                    &::-webkit-input-placeholder
                        color: #d66f67
            .form-error
                position: absolute
                background: linear-gradient(to right, #ea4f35, #d66f67, #efb1b1, #d66f67, #ea4f35, #d66f67)
                top: 0px
                left: 0px
                right: 0px
                bottom: 0px
                background-size: 500% auto
                animation: gradient 3s linear infinite
                background-position: 0% 0%
                transition: all .3s ease-in-out
                border-radius: 4px
            form
                width: 100%
                position: relative
                display: flex
                flex-direction: row
                margin: 0 auto
                border-radius: 2px
                padding: 5px 10px
                background: white
                    
                input
                    flex-grow: 1
                    color: #271f30
                    font-size: 14px
                    line-height: 14px
                    width: 100%
                    vertical-align: middle
                    font-family: 'Roboto'
                    padding-right: 10px
                    &::-webkit-input-placeholder
                        color: #7881A1

                button
                    color: #7881A1
                    font-size: 20px
                    line-height: 20px
                    vertical-align: middle
                    transition: color .25s
                    &:hover
                        color: rgba(57, 63, 84, 0.8)