button
    outline: none
    border: none
    background: none
    cursor: pointer
    color: #271f30

button.btn-circle
    border-radius: 50%
    height: 40px
    width: 40px
    font-size: 18px
    line-height: 40px

.btn-group
    text-align: center
    p
        margin: 0
        margin-top: 10px
        font-size: 12px

#btn-notifications
    text-align: center

.btn-small-dark
    font-size: 10px
    color: #271f30
    opacity: 0.37

.btn-grey
    background: #f2eded

.btn-red
    button
        color: white
        background: #dc493a
        box-shadow: 0 0 0 5px rgba(220, 73, 58, 0.25)
    p
        color: #dc493a
    
.btn-blue
    button
        color: white
        background: #287cc2
        box-shadow: 0 0 0 5px rgba(40, 124, 194, 0.25)
    p
        color: #287cc2

.btn-green
    button
        color: white
        background: #7bc950
        box-shadow: 0 0 0 5px rgba(123, 201, 80, 0.25)
    p
        color: #7bc950