#wrapper
    position: relative
    margin-top: 50px
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 455px
    width: 350px
    border: 2px solid black
    padding: 5px

    #content
        position: absolute
        display: block
    
    #device
        position: absolute

#button-strip
    border: 2px solid black
    border-top: none
    width: 350px
    text-align: center
    padding: 5px

    #btn-home
        font-size: 26px
        color: rgba(250, 250, 250, 0.85)
        background: #333333
        border-radius: 50%
        padding: 12px
        transition: all .1s ease-in-out
        cursor: pointer
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3)

        &:hover
            color: rgba(255, 255, 255, 0.9)
            transform: translateY(-2px) scale(1.05)
            text-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5)
        &:focus
            outline: none
        &:active
            color: white
            transform: translateY(0) scale(1)
